body {
    font-family: Arial, sans-serif;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.device {
    border: 1px solid #545252;
    padding: 10px;
    margin-bottom: 10px;
}
.device h2 {
    margin-top: 0;
}
.status-on {
    color: green;
}
.status-off {
    color: red;
}


/*for gauge styling*/
 
.cls-1, .cls-4 {
    fill: #fff;
  }

  .cls-1, .cls-2 {
    stroke: #231f20;
  }

  .cls-1, .cls-2, .cls-3, .cls-4, .cls-5 {
    stroke-miterlimit: 10;
  }

  .cls-1, .cls-2, .cls-3 {
    stroke-width: 3px;
  }

  .cls-2, .cls-3 {
    fill: none;
  }

  .cls-3 {
    stroke: #8a8c8e;
  }

  .cls-4 {
    font-size: 12px;
    stroke: #4a4b4c;
  }

  .cls-4, .cls-6 {
    font-family: MyriadPro-Regular, Myriad Pro;
  }

  .cls-5 {
    fill: #e71e25;
    stroke: #ec1c24;
    transform-origin: center;
  }


  /*for bargraph */
  
  .cls-7 {
    fill: #81cfce;
    stroke: #00aaa7;
    opacity: 0.5;
    transform-origin: 0px 249.45px;
    transform: scaleY(-0.5);
  }

  .cls-7, .cls-8, .cls-9 {
    stroke-miterlimit: 10;
  }

  .cls-8, .cls-9 {
    fill: none;
    stroke: #231f20;
  }

  .cls-9 {
    opacity: 0.3;
  }

  .cls-10 {
    font-size: 12px;
  }

  .cls-12 {
    font-size: 21px;
    letter-spacing: -0.02em;
  }


